Repository jer-nz/hottoh_api, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, source, config, dependencies, rust, github-actions

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# Automatically adds labels to PRs based on modified files

# Label for documentation changes
documentation:
  - README.md
  - LICENSE
  - '**/*.md'

# Label for CI/CD changes
ci:
  - '.github/**/*'
  - '.rustfmt.toml'

# Label for source code changes
source:
  - 'src/**/*'

# Label for configuration changes
config:
  - 'config.ini'
  - 'Cargo.toml'

# Label for dependency updates
dependencies:
  - 'Cargo.toml'
  - 'Cargo.lock'

# Label for Rust-related changes
rust:
  - 'src/**/*.rs'
  - 'Cargo.toml'
  - 'Cargo.lock'
  - '.rustfmt.toml'

# Label for GitHub Actions-related changes
github-actions:
  - '.github/workflows/**/*'

chore: update dependencies in Cargo.toml
  Cargo.toml
Labels: config, dependencies, rust

CI: update workflows/release.yml
  .github/workflows/release.yml
Labels: ci, github-actions

doc: update README.md
  README.md
Labels: documentation

doc: update config.ini to match conf in README
  config.ini
Labels: config

ci: replace unmaintained actions-rs with dtolnay/rust-toolchain
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci, github-actions

fix: align protocol handling with Wifier 2.0 firmware 10.5.0
  .gitignore
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
  config.ini
  src/hottoh/config.rs
  src/hottoh/hottoh_const.rs
  src/hottoh/hottoh_structs.rs
  src/hottoh/http_api.rs
  src/hottoh/logger.rs
  src/hottoh/shared_struct.rs
  src/hottoh/tcp_client.rs
  src/hottoh/tcp_client_structs.rs
  src/main.rs
Labels: ci, source, config, dependencies, rust

doc: document 0.2.0 API, protocol notes and changelog
  CHANGELOG.md
  README.md
Labels: documentation

doc: document logs, statistics and new status fields
  CHANGELOG.md
  README.md
Labels: documentation

feat: harden the bridge for long-running use
  Cargo.lock
  Cargo.toml
  src/hottoh/config.rs
  src/hottoh/hottoh_structs.rs
  src/hottoh/http_api.rs
  src/hottoh/logger.rs
  src/hottoh/mod.rs
  src/hottoh/shared_struct.rs
  src/hottoh/stats.rs
  src/hottoh/tcp_client.rs
  src/hottoh/tcp_client_structs.rs
  src/main.rs
Labels: source, config, dependencies, rust

build: static Linux binaries, Alpine and Debian packages
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  packaging/config.ini
  packaging/nfpm.yaml
  packaging/openrc/hottoh_api.confd
  packaging/openrc/hottoh_api.initd
  packaging/package.sh
  packaging/scripts/postinstall.sh
  packaging/scripts/postupgrade-apk.sh
  packaging/scripts/preinstall.sh
  packaging/scripts/preremove.sh
  packaging/systemd/hottoh_api.service
  packaging/test-install.sh
Labels: documentation, ci, github-actions

release: version 2.0.0, support of Wi-Fi module firmware 10.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: documentation, config, dependencies, rust
